body {
    
}

.titulo-principal {
    margin-left: 20px;
}

#banner {
    height: 250px;
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20xp;
}

em strong {
    color: red;
}

.beneficios {
    background-color: white;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#img-beneficios {
    width: 50%;
}

.itens {
    font-style: italic;
}